body {
    min-height: 1024px;
    }
    .nav-link {
    position: relative;
    }
    .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4169E1;
    }
    .partner-logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    }
    body.modal-open {
    overflow: hidden;
    }
    @keyframes modalShow {
    from {
    opacity: 0;
    transform: translateY(-20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
    .animate-modalShow {
    animation: modalShow 0.3s ease-out;
    }